/*
01.
  If you are using a preprocessor, start here.
  This holds any global settings for your project.
  I'd like to stress the word global – this layer should only house settings that need to be accessed from anywhere.
  Settings like $heading-size-1 should be defined in the Headings partial.
  This ensures this layer stays nice and slim,
  and means that most settings can be found alongside the code that uses them,
  making finding things far simpler.
*/

// COLORS

$color-primary-text: #282828;
$color-secondary-text: lighten($color-primary-text, 10%);
$color-tertiary-text: lighten($color-secondary-text, 10%);

$color-primary-background: #fff;
$color-secondary-background: #f2f2f2;
$color-tertiary-background: #e2e2e2;
$color-quaternary-background: #d2d2d2;
$color-quinary-background: #c2c2c2;

$highlight-color: rgb(45, 136, 211);
$highlight-color-dimmed: darken($highlight-color, 10%);
$highlight-color-dark: darken($highlight-color, 15%);

// FONTS
$family-primary: 'work-sans', serif;

// NAVIGATION
$navigation-background: $color-secondary-background;

// OBJECTS
$object-radius: 5px;

// BUTTONS
$button-default-color: $color-primary-text;
$button-default-background: $color-primary-background;
$button-default-background-hover: $color-secondary-background;
$button-default-active-background: $color-tertiary-background;

// ICONS
$icon-color: $color-primary-text;
$spinner-color: $color-primary-text;

// TRANSITIONS
$transition-speed: 100ms;
$transition-easing: ease;

// MODAL
$modal-overlay-color: $color-primary-text;
$modal-animation-length: 300ms;
$modal-animation-easing: $transition-easing;

// DIAGRAM
$diagram-background: $color-secondary-background;

$diagram-grid-color: #aaa;

$diagram-block-item: $color-primary-background;
$diagram-block-item-hover: $color-secondary-background;
$diagram-block-item-active: $color-tertiary-background;

$diagram-block-header: $color-tertiary-background;
$diagram-block-header-hover: $color-quaternary-background;
$diagram-block-header-active: $color-quinary-background;
