/*
05.
  Users of OOCSS will be familiar with the concept of objects.
  This is the first layer in which we find class-based selectors.
  These are concerned with styling non-cosmetic design patterns, or 'objects'.
  Objects can range from something as simple as a .wrapper element, to layout systems,
  through to things like the OOCSS poster child – the Media Object.
  This layer affects less of the DOM than the last layer, has a higher specificity,
  and is slightly more explicit in that we are now targeting sections of the DOM with classes.
*/

.clickable {
  pointer-events: all;
}

.button {
  background-color: $button-default-background;
  color: $button-default-color;
  border: 0;
  border-radius: $object-radius;
  font-family: $family-primary;
  padding: 0.5em 1em;
  outline: none;
  text-decoration: none;
  &:hover {
    background-color: $button-default-background-hover;
  }
  &:active {
    background-color: $button-default-active-background;
  }
  &:focus {
    outline: none;
  }
  &--primary {
    background-color: $highlight-color;
    color: #fff;
    &:hover {
      background-color: $highlight-color-dimmed;
    }
    &:active {
      background-color: $highlight-color-dark;
    }
  }
  &--tertiary {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.8);
    &:hover {
      color: rgba(0, 0, 0, 1);
      background-color: $color-secondary-background;
    }
    &:active {
      color: rgba(0, 0, 0, 1);
      background-color: $color-primary-background;
    }
  }
  &--left~&--right {
    margin-left: auto;
  }
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: $object-radius;
  font-family: $family-primary;
  padding: 0.2rem 0.5rem;
  margin: 0;
  background-color: $color-primary-background;
  display: inline-block;
  box-sizing: border-box;
  height: 2rem;
  width: 100%;
}

.select {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: $object-radius;
  font-family: $family-primary;
  padding: 0.2rem 0.5rem;
  margin: 0;
  background-color: $color-primary-background;
  display: inline-block;
  box-sizing: border-box;
  height: 2rem;
  width: 100%;
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

.icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  path,
  polygon,
  rect {
    fill: $icon-color;
  }
  circle {
    stroke: $icon-color;
    stroke-width: 1;
  }
}
