.modal {
  background-color: $color-primary-background;
  z-index: 5;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.2);
  will-change: transform, opacity;
  backface-visibility: hidden;
  pointer-events: all;

  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }

  &__title {
    font-size: 1.4em;
    letter-spacing: 0.5px;
    margin: 2rem 2rem 1rem;
    display: flex;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $modal-overlay-color;
    opacity: 0.6;
    z-index: 0;
    transition: opacity $modal-animation-length $modal-animation-easing;
    pointer-events: all;

    &:not(.visible) {
      pointer-events: none;
      opacity: 0;
    }
  }

  &__close {
    position: absolute;
    top: 1em;
    right: 1em;
  }

  &__header {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title {
      margin: 1rem 3rem 0.5rem 0;
    }

    &-close {
      margin: 1rem 0 0.5rem;
    }
  }

  &__body {
    padding: 0 1rem 1rem;
    flex: 1;
    overflow-y: auto;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background-color: $color-tertiary-background;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
